// text

.text-info {
  color: #17a2b8 !important;
}

// backgrounds

.bg-info {
  background: #17a2b8 !important;
}

.bg-water {
  background: #88bbd6;
}

.bg-ice {
  background: #99d3df;
}

.bg-linen {
  background: #e9e9e9;
}

.bg-plaster {
  background: #cdcdcd;
}

.bg-opal {
  background: #c6d8d3;
}

.bg-platinum {
  background: #e9e4df;
}

.bg-sand-gradient {
  background: #dcd2c8;
  background: linear-gradient(to right, #ffffff 0%, #dcd2cb 100%);
}

.bg-sand {
  background: #dcd2c8;
}
