img {
    width: 100%;
}

.aspect-16 {
  aspect-ratio: 16/9;
}

.img-full {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.bg-bulb {
    background: url(/assets/img/jm_hands_bulb.jpeg);
    background-position: center;
    background-size: cover;
  }

  .bg-circles {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1204%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(220%2c 210%2c 203%2c 1)'%3e%3c/rect%3e%3ccircle r='93.335' cx='83.48' cy='74.67' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='366.37' cy='335.31' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='785.68' cy='716.86' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='59.03' cx='902.5' cy='146.81' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='108.64' cx='1229.83' cy='456.68' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='153.16' cx='980.13' cy='280.9' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='134.065' cx='1327.87' cy='530.08' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='150.095' cx='1320.88' cy='426.32' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='85.17' cx='699.22' cy='345.38' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='170.565' cx='449.9' cy='557.16' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='140.535' cx='379.55' cy='170.85' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='74.47' cx='1242.46' cy='310.47' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='185.68' cx='1047.97' cy='372.61' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='169.745' cx='1225.19' cy='221.28' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='163.435' cx='1400.36' cy='170.15' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1204'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
  }

  .bg-circles-trans {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1220%26quot%3b)' fill='none'%3e%3ccircle r='93.335' cx='35.02' cy='83.19' stroke='black' stroke-opacity='0.05' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='328.12' cy='407.19' stroke='black' stroke-opacity='0.05' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='760.31' cy='704.9' stroke='black' stroke-opacity='0.05' stroke-width='2'%3e%3c/circle%3e%3ccircle r='137.505' cx='260.21' cy='201.13' stroke='black' stroke-opacity='0.05' stroke-width='2'%3e%3c/circle%3e%3ccircle r='75.955' cx='219.97' cy='68.92' stroke='black' stroke-opacity='0.05' stroke-width='2'%3e%3c/circle%3e%3ccircle r='136.035' cx='1268.35' cy='43.1' stroke='black' stroke-opacity='0.05' stroke-width='2'%3e%3c/circle%3e%3ccircle r='161.89' cx='134.2' cy='356.21' stroke='black' stroke-opacity='0.05' stroke-width='2'%3e%3c/circle%3e%3ccircle r='162.635' cx='1335.76' cy='309.26' stroke='black' stroke-opacity='0.05' stroke-width='2'%3e%3c/circle%3e%3ccircle r='109.05' cx='603.35' cy='35.03' stroke='black' stroke-opacity='0.05' stroke-width='2'%3e%3c/circle%3e%3ccircle r='113.035' cx='6.81' cy='460.07' stroke='black' stroke-opacity='0.05' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1220'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
  }

@media (max-width: 834px) {
    .bg-bulb {
      background-position: 90% 100%;
    }
    .bg-circles {
      background-size: 250%;
    }
  }
  
  @media (max-width: 601px) {
    .bg-bulb {
      background-position: 85% 100%;
    }
  }