  
  /* menu */

  nav,
  .navbar {
    max-width: 1404px;
    margin: 0 auto;
  }
  
  .navbar-brand {
    font-weight: 900;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
  }